// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

hr.star-light{
    border-color: white;
}
hr.star-light{
    padding: 0;
    border: none;
    border-top: solid 3px;
    text-align: center;
    max-width: 200px;
    margin: 25px auto 30px;

}
/* the carousel for the porfolio page*/
.portfolio-carousel{
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    margin-bottom: auto;
    padding-bottom: 19px;
    #my-carousel{
        height: 500px;
        img{
            width: 100%;
            height: 500px;
        }
    }
    .portfolio-carousel-content{
        height: 100px;
        width: 100%;
        position: absolute;
        top: 50%;
        margin-top: -193px;
        text-align: center;
        color: #ff6a00;
    }
    h1{
        font-family: 'Orbitron', serif;
        font-weight: 200;
        font-size: 50px;
    }
    .carousel-caption{
        color: blue;
    }

}

/*the top article of the portfolio page*/
.port-top-article{
    background-color: green;
    article{
        padding: 100px 0 0;
        max-width: 640px;
        margin: 0 auto;
        text-align: center;
        p{
            text-align: center;
        }
        h1{
            text-align: center;
        }
    }
}

/* The window tinted glass for porfolio*/
.window_article{
    article{
        padding: 100px 0;
        max-width: 640px;
        margin: 0 auto;
        text-align: center;
    }
}
.larges-window {
  height: 640px;
  /*padding: 0 50px;*/
  /*width: 640px;*/
  background-image: url(model2.jpg);
  background-position: center 0px;
  background-repeat: repeat-y;
  background-attachment: fixed;
  margin-top: 100px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 100px;
  border-radius: 50%;
  position: relative; }
  .larges-window .window-tint {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; }
  .larges-window .promo-text {
    color: white;
    font-weight: 100;
    font-size: 50px;
    line-height: 1.2; }
    .large-window .promo-text strong {
      display: block;
      font-size: 30px; }
    .larges-window .promo-text span {
      font-weight: 300;
      font-size: 18px;
      font-style: italic;
      color: rgba(255, 255, 255, 0.6); }
    .larges-window .promo-text .window-cta {
      font-size: 20px;
      text-decoration: none;
      color: white;
      border: 1px solid white;
      padding: 10px 20px;
      transition: all 0.3s ease-in-out; }
      .larges-window .promo-text .window-cta:hover {
        background: white;
        color: black; }


/* the bottom article of the portolio page*/
.port-bottom-article{
    background-color: green;
    article{
        padding: 100px 0 0;
        max-width: 640px;
        margin: 0 auto;
        text-align: center;
        p{
            text-align: center;
        }
        h1{
            text-align: center;
        }
    }
}
