// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* The post content file */
#post_show_content{
    /*background-color: #0026ff;*/
    padding: 100px 20px 20px;
    max-width: 640px;
    margin:  0 auto;
    text-align: center;

    header{
        text-align: center;
        position: relative;
        .date{
            padding: 50px 0 0;
            text-align: center;
        }
        h1{
            text-align: center;
            padding: 50px 0 0;
        }
    }

}

/*The edit post content */
#post_edit_content{
    background-color: green;
    padding: 100px 20px 20px;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

/* The post title and description */
#post_title{
    width: 200px;

}
#post_description{
    width: 500px;
    height: 300px;

}
