img {
    max-width: 100%;
}

input,
select,
textarea{
    max-width: 280px;
}
/* Set padding to keep content form hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}
body{
    padding-top: 50px;
    padding-bottom: 0;
}
/* Override the default bootstrap behavior where horizontal description lists
will truncate terms that are to long to fit in the left column
*/
.dl-horizontal dt{
    white-space: normal;
}
ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}
ul{
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 27px;
    color: #7d7d7d;
    list-style-type: none;
}
p{
    font-family: 'Lateef', cursive;
    font-size: 20px;

}

h1, h2, h3,h4, h5, h6{
    /*font-family: "montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-family: 'Lora', sans-serif;*/
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: 10;
    font-size: 20px;
}
ul, ol{
    margin-top: 0;
    margin-bottom: 10.5px;
}
