.services-carousel{
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    margin-bottom: auto;
    padding-bottom: 19px;
    #my-carousel{
        height: 500px;
        img{
            width: 100%;
            height: 500px;
        }
    }
    .services-carousel-content{
        height: 100px;
        width: 100%;
        position: absolute;
        top: 50%;
        margin-top: -193px;
        text-align: center;
        color: #ff6a00;
    }
    h1{
        font-family: 'Orbitron', sans-serif;
        font-weight: 2em;
        font-size: 1em;
    }
    .carousel-caption{
        color: blue;
    }
}
